@import '../../variables.scss';

.kaart {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

app-map {
  flex: 1;
  display: flex;
}

app-adress {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-width: 400px;
}


@media(min-width: 640px) {
  app-adress {
    top: 15px;
    right: inherit;
    left: 15px;
    width: 100%;
  }
}

.kaart__funderingstypes {
  max-width: 400px;
  position: absolute;
  top: 55px;
  left: 0;
  right: 0;
  background: #fff;
}

@media(min-width: 640px) {
  .kaart__funderingstypes {
    left: 15px;
    right: inherit;
    width: 100%;
  }
}

.kaart__funderingstypes__title {
  margin: 0;
  padding: 10px;
  background: $primary;
  color: #fff;
}

@media(min-width: 640px) {
  .kaart__funderingstypes__title {
    padding: 15px;
  }
}

.kaart__funderingstypes__inputs {
  padding: 10px;
}

@media(min-width: 640px) {
  .kaart__funderingstypes__inputs {
    padding: 15px;
  }
}

.kaart__funderingstypes__input--first {
  margin: 0 10px 5px 0;
}

@media(min-width: 343px) {
  .kaart__funderingstypes__input--first {
    margin: 0 10px 0 0;
  }
}

.kaart__legendbutton {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

@media(min-width: 640px) {
  .kaart__legendbutton {
    top: 15px;
    bottom: inherit;
    right: 15px;
    left: inherit;
  }
}

.kaart__legend {
  position: absolute;
  bottom: 15px;
  left: 15px;
  background: #fff;
}

@media(min-width: 640px) {
  .kaart__legend {
    position: absolute;
    top: 15px;
    bottom: inherit;
    right: 15px;
    left: inherit;
  }
}

.kaart__legend__header {
  position: relative;
  background: $primary;
  padding: 15px 34px 15px 15px;
  color: #fff;
}

.kaart__legend__title {
  font-weight: bold;
}

.kaart__legend__close {
  position: absolute;
  top: 9px;
  right: 6px;
  font-weight: bold;
  cursor: pointer;
  padding: 0 6px 3px;
  font-size: 18px;
}

.kaart__legend__close:hover {
  opacity: 0.7;
}

.kaart__legend__content__item {
  display: flex;
  padding: 15px;
  border-bottom: 1px solid #eee;
}

.kaart__legend__content__item__score_A {
  margin-right: 10px;
  background: #006400;
  padding: 6px 10px;
  border-radius: 100%;
  font-size: 11px;
}

.kaart__legend__content__item__score_B {
  margin-right: 10px;
  background: #32CD32;
  padding: 6px 10px;
  border-radius: 100%;
  font-size: 11px;
}

.kaart__legend__content__item__score_C {
  margin-right: 10px;
  background: #FFD700;
  padding: 6px 10px;
  border-radius: 100%;
  font-size: 11px;
}

.kaart__legend__content__item__score_D {
  margin-right: 10px;
  background: #FE5E01;
  padding: 6px 10px;
  border-radius: 100%;
  font-size: 11px;
}

.kaart__legend__content__item__score_E {
  margin-right: 10px;
  background: #FF0000;
  padding: 6px 10px;
  border-radius: 100%;
  font-size: 11px;
}

.kaart__legend__content__item__risk {
  margin-top: 5px;
}

.kaart__logo {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #fff;
  padding: 7px 7px 2px;
}
