<main class="kaart">

  <app-map [activeLayer]="activeLayer"></app-map>
  <app-adress></app-adress>

  <div clas='risk_info'>
    <app-risk-info></app-risk-info>
  </div>

  <nav class="kaart__funderingstypes" *ngIf="mapLoaded">
    <h3 class="kaart__funderingstypes__title">Selecteer het funderingstype:</h3>
    <div class="kaart__funderingstypes__inputs">
      <mat-radio-group aria-label="Selecteer het funderingstype">
        <mat-radio-button value="paal" checked
          class="kaart__funderingstypes__input kaart__funderingstypes__input--first"
          (change)="onFoundationChange($event)">
          Paalfundering</mat-radio-button>
        <mat-radio-button value="staal" class="kaart__funderingstypes__input" (change)="onFoundationChange($event)">
          Fundering op staal</mat-radio-button>
      </mat-radio-group>
    </div>
  </nav>

  <button mat-raised-button (click)="toggleLegend()" class="kaart__legendbutton">Legenda</button>

  <div class="kaart__legend" *ngIf="legend">
    <div class="kaart__legend__header">
      <div class="kaart__legend__title">
        Legenda
      </div>
      <div (click)="toggleLegend()" class="kaart__legend__close">
        x
      </div>
    </div>
    <div class="kaart__legend__content">
      <div class="kaart__legend__content__item">
        <div class="kaart__legend__content__item__score_A">
          A
        </div>
        <div class="kaart__legend__content__item__risk">
          Laag risico
        </div>
      </div>
      <div class="kaart__legend__content__item">
        <div class="kaart__legend__content__item__score_B">
          B
        </div>
        <div class="kaart__legend__content__item__risk">
          Laag/gemiddeld risico
        </div>
      </div>
      <div class="kaart__legend__content__item">
        <div class="kaart__legend__content__item__score_C">
          C
        </div>
        <div class="kaart__legend__content__item__risk">
          Gemiddeld risico
        </div>
      </div>
      <div class="kaart__legend__content__item">
        <div class="kaart__legend__content__item__score_D">
          D
        </div>
        <div class="kaart__legend__content__item__risk">
          Hoog risico
        </div>
      </div>
      <div class="kaart__legend__content__item">
        <div class="kaart__legend__content__item__score_E">
          E
        </div>
        <div class="kaart__legend__content__item__risk">
          Kritiek risico
        </div>
      </div>
    </div>
  </div>

  <div class="kaart__logo">
    <a href="https://geogap.nl" target="_blank" style="outline: none;">
      <img class="image" src="assets/geogap@2x.png" title="Funderingsrisico.nl is een product van Geogap" width="90">
    </a>
  </div>

</main>
