<body class='infocard'>
  <h1 class='risicoPand'>Risico: {{ risk }}</h1>
  <div class='riskA' *ngIf="this.risk ==='A' && this.layer === 'paal-layer'">Gebouwen krijgen in het paalfunderingsmodel
    het
    risicolabel A als ze gebouwd
    zijn op een
    zandlaag. Zand is een dragende bodemsoort, waardoor de kans op verzakkingen klein is. </div>
  <div class='riskB' *ngIf="this.risk ==='B' && this.layer === 'paal-layer'">Gebouwen krijgen het risicolabel B als ze
    niet op
    een zandlaag staan maar wel na 1970 gebouwd zijn. Gebouwen die na 1970 gebouwd zijn op een klei- of veengrond hebben
    vrijwel altijd een paalfunderingen bestaande uit betonnen palen (Leusink, 2018). Het risico op schade aan betonnen
    heipalen is lager dan bij houten heipalen.
  </div>
  <div class='riskC' *ngIf="this.risk === 'C' && this.layer === 'paal-layer'">Gebouwen krijgen een risicolabel C als ze
    gebouwd
    zijn op een klei- of veengrond, een bouwjaar hebben van voor 1970 en de laagste grondwaterstand er hoger is dan twee
    meter. Gebouwen van voor 1970 met een paalfundering hebben vaak houten heipalen. Dergelijke palen zijn kwetsbaarder
    voor schade dan betonnen heipalen, met name wanneer de grondwaterspiegel daalt en de heipalen (gedeeltelijk) niet
    meer
    onder water staan. Hierdoor kan er zuurstof bij de palen komen, wat kan leiden tot houtrot. De palen van een
    paalfundering
    beginnen ongeveer op een diepte van twee meter onder het maaiveld (Leusink, 2018). Als de grondwaterstand blijkens
    de
    gebruikte grondwaterstanddata nooit lager is geweest dan twee meter, betekent dit dat het risico op houtrot gering
    is.
    Toch is er enige mate van risico aan de fundering, omdat de grondwaterstanddata bestaat uit periodieke metingen.
    Daarom is het mogelijk dat de grondwaterstand lager is geweest dan twee meter, maar er op dat moment geen metingen
    zijn gedaan.</div>
  <div class='riskD' *ngIf="this.risk ==='D' && this.layer === 'paal-layer'">Gebouwen krijgen het risicolabel D als ze
    gebouwd
    zijn op een klei- of veengrond, met een bouwjaar van voor 1970, de laagste grondwaterstand er lager is geweest dan
    twee
    meter en de gemiddelde grondwaterfluctuatie kleiner is dan 50 centimeter. Wanneer de grondwaterstand lager is
    geweest
    dan
    twee meter, is de kans groot dat er schade is aan de houten heipalen.</div>
  <div class='riskE' *ngIf="this.risk === 'E' && this.layer === 'paal-layer'">Gebouwen krijgen het risicolabel E als ze
    gebouwd
    zijn op een klei- of veengrond, met een bouwjaar van voor 1970, de grondwaterstand er lager is geweest dan twee
    meter
    en de gemiddelde grondwaterfluctuatie groter is dan 50 centimeter. Bij een hoge grondwaterstandfluctuatie is de kans
    groter dat het waterpeil meerdere malen onder de twee meter is geweest, waardoor er een verhoogd risico is op
    houtrot.
  </div>
  <div class='riskA_staal' *ngIf="this.risk === 'A' && this.layer === 'staal-layer'">Gebouwen krijgen het risicolabel A
    als ze
    op een zandlaag zijn gebouwd en de gemiddelde grondwaterfluctuatie kleiner is dan 40 centimeter. De kans op
    verzakkingen bij gebouwen met een fundering op staal is het kleinst als deze gebouwen gebouwd zijn op zandgronden.
    Wanneer er echter grote dalingen zijn in de grondwaterspiegel, kan dit ook bij zandgronden leiden tot ongelijke
    verzakkingen. Wanneer de grondwaterfluctuatie kleiner is dan 40 cm, is de kans op ongelijke verzakkingen bij
    gebouwen
    met een funderering op staal erg klein.</div>
  <div class='riskB_staal' *ngIf="this.risk === 'B' && this.layer ==='staal-layer'">Gebouwen krijgen het risicolabel B
    als
    ze op
    een zandlaag zijn gebouwd en de gemiddelde grondwaterfluctuatie er hoger is dan 40 centimeter. Wanneer er een grote
    fluctuatie is in de grondwaterspiegel ontstaat er ook bij zandgronden het risico op ongelijke verzakkingen. Dit
    risico
    is echter nog steeds lager dan voor gebouwen op klei- of veengronden.</div>
  <div class='riskD_staal' *ngIf="this.risk === 'D' && this.layer === 'staal-layer'">Gebouwen krijgen het risicolabel D
    als ze
    op
    een veen- of kleilaag zijn gebouwd. Gebouwen met een fundering op staal zakken mee met de bodem (van Wensen 2011).
    Bij
    veen- of kleigronden geeft dit een grote kans op ongelijke verzakkingen.</div>

  <ng-container *ngIf="addresses">
    <div class='bouwjaar'> Bouwjaar: {{ construction_year }} </div>
    <div *ngFor="let street of addresses">
      <div class='adres_naam1' *ngIf="street.min < street.max">
        {{street.straatnaam}} {{street.min }} t/m {{ street.max }}
      </div>
      <div class='adres_naam2' *ngIf="street.min === street.max">
        {{street.straatnaam}} {{street.min}}
      </div>
    </div>
  </ng-container>
</body>
