@import '../../variables.scss';

// h1 {
//   width: 400px;
//   position: absolute;
//   padding: 10px;
//   background-color: $primary;
//   top: 200px;
//   left: 15px;
//   font-size: 20px;
//   color: white;
// }

// @media(min-width: 640px) {
//   .h1 {
//     padding: 10px;
//   }
// }

// .riskA {
//   position: absolute;
//   padding: 10px;
//   background-color: white;
//   width: 400px;
//   top: 350px;
//   left: 15px;
// }

// .riskB {
//   position: absolute;
//   padding: 10px;
//   background-color: white;
//   width: 400px;
//   top: 350px;
//   left: 15px;
// }

// .riskC {
//   position: absolute;
//   padding: 10px;
//   background-color: white;
//   width: 400px;
//   top: 350px;
//   left: 15px;
// }

// .riskD {
//   position: absolute;
//   padding: 10px;
//   background-color: white;
//   width: 400px;
//   top: 350px;
//   left: 15px;
// }

// .riskE {
//   position: absolute;
//   padding: 10px;
//   background-color: white;
//   width: 400px;
//   top: 350px;
//   left: 15px;
// }

// .riskA_staal {
//   position: absolute;
//   padding: 10px;
//   background-color: white;
//   width: 400px;
//   top: 350px;
//   left: 15px;
// }

// .riskB_staal {
//   position: absolute;
//   padding: 10px;
//   background-color: white;
//   width: 400px;
//   top: 350px;
//   left: 15px;
// }

// .riskD_staal {
//   position: absolute;
//   padding: 10px;
//   background-color: white;
//   width: 400px;
//   top: 350px;
//   left: 15px;
// }

// .bouwjaar {
//   position: absolute;
//   padding: 10px;
//   background-color: white;
//   width: 400px;
//   top: 263px;
//   left: 15px;
// }


.infocard {
  position: absolute;
  padding: 10px;
  background-color: white;
  width: 400px;
  top: 263px;
  left: 15px;
}

// .adres_naam1 {
//   // position: absolute;
//   padding: 5px;
//   background-color: white;
//   // width: 400px;
//   // top: 263px;
//   // left: 15px;
// }

// .adres_naam2 {
//   // position: absolute;
//   padding: 5px;
//   background-color: white;
//   // width: 400px;
//   // top: 289px;
//   // left: 15px;
// }
