<h1>Informatie over het funderingsrisicomodel</h1>
<p>Het model bestaat uit twee sub-modellen: een model voor paalfunderingen en een model voor funderingen op staal. Er is
  gekozen voor twee modellen omdat de risico’s voor paalfunderingen anders zijn dan voor funderingen op staal. Tevens is
  het onbekend welk type fundering bij een pand aanwezig is. De gebruiker kan daarom in de interface het funderingstype
  kiezen.</p>
<h2>Model voor paalfunderingen</h2>
<p>Schade aan paalfunderingen ontstaat met name bij panden met een houten paalfundering op momenten dat de
  grondwaterspiegel daalt. Houten palen van een paalfundering dienen altijd volledig onder water te staan om rot aan de
  palen te voorkomen (van Wensen, 2012). Het water zorgt ervoor dat er een beperkte hoeveelheid zuurstof bij het hout
  kan komen. Wanneer het grondwaterpeil daalt kan er zuurstof bij het hout komen, wat houtrot veroorzaakt. Als het
  grondwaterpeil te lang op een te laag niveau is, zal de paal het uiteindelijk begeven.</p>
<p>De input voor het paalfunderingsmodel bestaat uit:</p>
<ul>
  <li>Bouwjaar van het pand (voor of na 1970)</li>
  <li>Diepte van de dragende zandlaag in de bodem</li>
  <li>Diepte van een veen- of kleilaag in de bodem (indien aanwezig)</li>
  <li>Laagste grondwaterstand</li>
  <li>Gemiddelde grondwaterfluctuatie </li>
</ul>
<p>Risicoklassen voor paalfunderingen:</p>
<h3>A (laag risico)</h3>
<p>Gebouwen krijgen in het paalfunderingsmodel het risicolabel A als ze gebouwd zijn op een zandlaag. Zand is een
  dragende bodemsoort, waardoor de kans op verzakkingen klein is. </p>
<h3>B (laag tot gemiddeld risico)</h3>
<p>Gebouwen krijgen het risicolabel B als ze niet op een zandlaag staan maar wel na 1970 gebouwd zijn. Gebouwen die na
  1970 gebouwd zijn op een klei- of veengrond hebben vrijwel altijd een paalfunderingen bestaande uit betonnen palen
  (Leusink, 2018). Het risico op schade aan betonnen heipalen is lager dan bij houten heipalen.</p>
<h3>C (gemiddeld risico)</h3>
<p>Gebouwen krijgen een risicolabel C als ze gebouwd zijn op een klei- of veengrond, een bouwjaar hebben van voor 1970
  en de laagste grondwaterstand er hoger is dan twee meter. Gebouwen van voor 1970 met een paalfundering hebben vaak
  houten heipalen. Dergelijke palen zijn kwetsbaarder voor schade dan betonnen heipalen, met name wanneer de
  grondwaterspiegel daalt en de heipalen (gedeeltelijk) niet meer onder water staan. Hierdoor kan er zuurstof bij de
  palen komen, wat kan leiden tot houtrot. De palen van een paalfundering beginnen ongeveer op een diepte van twee meter
  onder het maaiveld (Leusink, 2018). Als de grondwaterstand blijkens de gebruikte grondwaterstanddata nooit lager is
  geweest dan twee meter, betekent dit dat het risico op houtrot gering is. Toch is er enige mate van risico aan de
  fundering, omdat de grondwaterstanddata bestaat uit periodieke metingen. Daarom is het mogelijk dat de grondwaterstand
  lager is geweest dan twee meter, maar er op dat moment geen metingen zijn gedaan. </p>
<h3>D (hoog risico)</h3>
<p>Gebouwen krijgen het risicolabel D als ze gebouwd zijn op een klei- of veengrond, met een bouwjaar van voor 1970, de
  laagste grondwaterstand er lager is geweest dan twee meter en de gemiddelde grondwaterfluctuatie kleiner is dan 50
  centimeter. Wanneer de grondwaterstand lager is geweest dan twee meter, is de kans groot dat er schade is aan de
  houten heipalen.</p>
<h3>E (kritiek risico)</h3>
<p>Gebouwen krijgen het risicolabel E als ze gebouwd zijn op een klei- of veengrond, met een bouwjaar van voor 1970, de
  grondwaterstand er lager is geweest dan twee meter en de gemiddelde grondwaterfluctuatie groter is dan 50 centimeter.
  Bij een hoge grondwaterstandfluctuatie is de kans groter dat het waterpeil meerdere malen onder de twee meter is
  geweest, waardoor er een verhoogd risico is op houtrot.</p>

<h2>Model voor funderingen op staal</h2>
<p>Fundereringen op staal zijn gefundeerd op de bovenste laag van de ondergrond. Dit houdt in dat deze panden mee zullen
  dalen met de verzakking als er verzakkingen plaatsvinden. Als deze verzakkingen gelijk zijn over het gehele
  oppervlakte van het pand, dan zal het pand wel zakken, maar zal er geen schade ontstaan. Dit is anders wanneer de
  verzakkingen ongelijk zijn. Het pand zal dan scheef komen te staan, waardoor er schade kan ontstaan. De kans op
  ongelijke verzakkingen is het grootst bij klei- en veengronden.</p>
<p>De input voor het model voor funderingen op staal bestaat uit:</p>
<ul>
  <li>Diepte van de dragende zandlaag in de bodem</li>
  <li>Diepte van een veen- of kleilaag in de bodem (indien aanwezig)</li>
  <li>Gemiddelde grondwaterfluctuatie </li>
</ul>
<p>Risicoklassen voor funderingen op staal:</p>
<h3>A (laag risico)</h3>
<p>Gebouwen krijgen het risicolabel A als ze op een zandlaag zijn gebouwd en de gemiddelde grondwaterfluctuatie kleiner
  is dan 40 centimeter. De kans op verzakkingen bij gebouwen met een fundering op staal is het kleinst als deze gebouwen
  gebouwd zijn op zandgronden. Wanneer er echter grote dalingen zijn in de grondwaterspiegel, kan dit ook bij
  zandgronden leiden tot ongelijke verzakkingen. Wanneer de grondwaterfluctuatie kleiner is dan 40 cm, is de kans op
  ongelijke verzakkingen bij gebouwen met een funderering op staal erg klein.</p>
<h3>B (laag tot gemiddeld risico)</h3>
<P>Gebouwen krijgen het risicolabel B als ze op een zandlaag zijn gebouwd en de gemiddelde grondwaterfluctuatie er hoger
  is dan 40 centimeter. Wanneer er een grote fluctuatie is in de grondwaterspiegel ontstaat er ook bij zandgronden het
  risico op ongelijke verzakkingen. Dit risico is echter nog steeds lager dan voor gebouwen op klei- of veengronden.
</P>
<h3>D (hoog risico)</h3>
<p>Gebouwen krijgen het risicolabel D als ze op een veen- of kleilaag zijn gebouwd. Gebouwen met een fundering op staal
  zakken mee met de bodem (van Wensen 2011). Bij veen- of kleigronden geeft dit een grote kans op ongelijke
  verzakkingen.</p>
<p>Referenties:</p>
<p>Leusink, E. (2018). Naar een kosteneffectieve aanpak van klimaatadaptie in Nederland. Sweco. </p>
<p>van Wensen, A. (2011). Funderingen op staal. Stichting Platform Fundering Nederland (SPFN) en Kennis Centrum Aanpak
  Funderingsproblematiek (KCAF). </p>
<p>van Wensen, A. (2012). De fundering onder uw woning. Stichting Platform Fundering Nederland(SPFN) en Kennis Centrum
  Aanpak Funderingsproblematiek (KCAF).</p>
