@import '../../variables.scss';

.header {
  display: flex;
  padding: 10px;
  position: relative;
  background-color: $primary;
  color: white;
  text-align: left;
}

@media(min-width: 640px) {
  .header {
    padding: 15px;
  }
}

.header__title {
  margin: 0;
  font-weight: bold;
  font-size: 20px;
}

.header__subtitle {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  margin: 4px 0 0;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  visibility: hidden;
  height: 0;
}

@media(min-width: 1000px) {
  .header__subtitle {
    visibility: visible;
    height: auto;
  }
}

.header__info {
  position: absolute;
  right: 10px;
  top: 7px;
}

@media(min-width: 640px) {
  .header__info {
    top: 12px;
    right: 15px;
  }
}
