<header class="header">
  <h1 class="header__title">Funderingsrisico.nl</h1>
  <h2 class="header__subtitle">Risico op schade aan funderingen</h2>
  <button mat-raised-button (click)="showPopup()" class="header__info">Info</button>
</header>
