@import 'variables.scss';

/* fonts */

@font-face {
  font-family: 'Spartan MB';
  src: url('assets/fonts/SpartanMB-Regular.woff2') format('woff2'),
    url('assets/fonts/SpartanMB-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Spartan MB';
  src: url('assets/fonts/SpartanMB-Bold.woff2') format('woff2'),
    url('assets/fonts/SpartanMB-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/* general options */

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spartan MB', sans-serif;
  font-size: 13px;
  font-variant-ligatures: none;
  font-feature-settings: "liga"0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

::placeholder {
  font-family: 'Spartan MB', sans-serif;
}

input {
  font-family: 'Spartan MB', sans-serif;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: #5c5c5c;
}

/* material */

@import '~@angular/material/theming';
@include mat-core();
$md-material: (50 : #f2f3ef,
  100 : #dee2d6,
  200 : #c8cfbb,
  300 : #b1bb9f,
  400 : #a1ad8b,
  500 : #909e76,
  600 : #88966e,
  700 : #7d8c63,
  800 : #738259,
  900 : #617046,
  A100 : #ecffcd,
  A200 : #d9ff9a,
  A400 : #c6ff67,
  A700 : #bdff4d,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));
$material-primary: mat-palette($md-material);
$material-accent: mat-palette($md-material, 500, 900, A100);
$material-theme: mat-light-theme($material-primary, $material-accent);
@include angular-material-theme($material-theme);
$general-typography: mat-typography-config($font-family: '"Spartan MB", sans-serif',
  $body-2: mat-typography-level(14px, 24px, 600));
@include mat-core($general-typography);

body .mat-dialog-container {
  height: 80vh;
  overflow: auto;
}

/* geocoder */

.searchButton {
  top: 15px !important;
}

.closeButton {
  top: 12px !important;
}

.geocoder-search-container button:hover svg {
  color: $primary !important;
}

/* mapbox */

a.mapboxgl-ctrl-logo {
  display: none;
}

.mapboxgl-ctrl-bottom-right .mapboxgl-ctrl {
  margin: 0 15px 66px 0;
}
